<?xml version="1.0" encoding="UTF-8"?>
<data>
<sweets code="002" price="0" name="箱代"></sweets>
<sweets code="2104011101911" price="215" name="レンコン　中"></sweets>
<sweets code="2104011102017" price="715" name="長芋　H"></sweets>
<sweets code="2104011101508" price="315" name="わらびの水煮"></sweets>
<sweets code="2104011101546" price="195" name="大根　１本"></sweets>
<sweets code="2106011100024" price="560" name="秘伝豆　300ｇ　　Y"></sweets>
<sweets code="2106040600083" price="1260" name="キハダ蜜200ｇ"></sweets>
<sweets code="2106060100112" price="1375" name="以津美純吟　出羽燦々"></sweets>
<sweets code="2108060100079" price="1428" name="富久心　純米吟醸"></sweets>
<sweets code="2108060100130" price="1428" name="冨久心純米吟醸生"></sweets>
<sweets code="2109011300012" price="550" name="栃木コシヒカリ　20"></sweets>
<sweets code="2110010100022" price="499" name="新キャベツキムチ"></sweets>
<sweets code="2110011100014" price="110" name="国定のきゅうり　　Y"></sweets>
<sweets code="2110011100052" price="180" name="群馬のとまと　2個　　Ｙ"></sweets>
<sweets code="2110011100076" price="345" name="群馬県産　茄子　20袋　Y　8/18"></sweets>
<sweets code="2110011100083" price="215" name="群馬国定のほうれんそう　Y"></sweets>
<sweets code="2110050900019" price="367" name="おいらんふろう濡甘納豆　ＳＮ"></sweets>
</data>
