<?xml version="1.0" encoding="UTF-8"?>
<data>
<sweets code="4901248010218" price="241" name="鮭しらす　　O"></sweets>
<sweets code="4901248530099" price="368" name="帯削り80ｇ　　O"></sweets>
<sweets code="4901257251749" price="210" name="のど飴（大根と生姜）　YC"></sweets>
<sweets code="4904419006584" price="518" name="笹だんご5個入り（40）　ｓ"></sweets>
<sweets code="4516108000096" price="358" name="セイロンカレー（60）　ST"></sweets>
</data>
