<h1>Charg List</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Update</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


</table>

<br />

<%= link_to 'New Chearge', new_friend_path %>
