<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<title>ZaikoTran</title>
</head>
<body>

<p>ZaikoTran</p>
  
<form method="post" action="/record/zaikotranpost"><input name="authenticity_token" type="hidden" value=<%=$token %> />
 <p>
 商品コード：<input id="code" name="code" size="30" type="text" /><br />
 数：<input id="value" name="value" type="number" /><br />
 
 区分:<input id="kubun" name="kubun" type="number" />
<input name="commit" type="submit" value="送信" />
 </p>
</form>

</body>
</html>
