<?xml version="1.0" encoding="UTF-8"?>
<data>
<sweets code="4956461631184" price="748" name="明宝ミニハム　ST"></sweets>
<sweets code="4942372955471" price="890" name="あわび茸炊込みご飯の素"></sweets>
<sweets code="4903788007895" price="548" name="名古屋コーチンとりめしの素（20）ST"></sweets>
<sweets code="4562207432023" price="998" name="もっちりいちじく果肉ジャム"></sweets>
<sweets code="4516654300558" price="578" name="金山寺味噌（17）"></sweets>
<sweets code="4518828126032" price="252" name="中村堂の柿の種　D"></sweets>
</data>
