<% if user_signed_in? %>
<p>ようこそ <%= $username %>さん</p>
</br>
<p id="progress"></p>
<div id="abcs">
<h1>トップページ</h1>
<div style="border-style: solid ; border-width: 1px; padding: 10px 5px 10px 20px;">
<p>ここには最新のアップデート情報やサーバーメンテナンスのお知らせ等をアップします。</p>
<p>ご確認下さい</p>
<p></p>
<p>当面の間、毎日AM1:00〜AM3:00はサーバーメンテナンスを行います。</p>
<p>その間はサーバー機能が使えませんのでご注意下さい。</p>
</div>
</div>
<% else %>
<div style="border-style: solid ; border-width: 1px; padding: 10px 5px 10px 20px;">
<p>ID パスワードをお持ちの方はログインしてください</p>
<% end %>