<ul>
<table border="1">
  <tr>
    <th>Code
    </th>
    <th>Name</th>
    <th>Value</th>
  </tr>

<% @abcs.each do |abc| %>
  <tr>
    <td><%= abc.code %></td>
    <td><%= abc.name %></td>
    <td><%= abc.value %></td>
  </tr>
<% end %>
</table>
</ul>